<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>
          I have 3 years experience in robotics research labs and 2 years experience working on industrial embedded software.
          While I'm a proficient embedded software engineer, my expertise is in developing embedded systems (sensor integration and controls).
        </p>
        <p>
          I love to build things.
          While the challenges of software engineering are fun to tackle, I'm most attracted to designing systems that work in real world environments and that can handle extreme scenarios. 
          I'm looking for ...
        </p>
      </div>
      <div class="col-sm-6">
        <h3 style="margin-top:0;">Highlights</h3>
          <ul>
          <li>
            Currently maintain a first pass yield rate of >90% and an on time delivery rate of >95%.
          </li>
          <li>
            Lead software engineer on five major product integration projects and authored 100+ software fixes and updates.
            Bug fixes included identifying and removing race conditions, implementing buffer overflow protections in legacy code, reducing memory usage of objects by up to 10%, among other fixes.
          </li>
	</ul>
      </div>
    </div>
  </div>
</section>
