<section class="tout" id="interests">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Interests</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>
	  My personal interests include:
        </p>
	<ul>
	  <li>
	    <b>Robotics</b>.
            I started building lego robots in my childhood.
            I've since become very initerested in robot mobility and sensing in navigation.
	  </li>
	  <li>
	    <b>Traveling</b>.
            I've always enjoyed traveling throughout the US with family growing up, visiting 27 states to date.
            Since graduating college, I now have the time and means to travel internationally.
            To date, I've traveled to 9 countries across 4 continents.
	  </li>
	  <li>
	    <b>Photography</b>. 
            I started working with image and video processing as part of my high school's FIRST roboticss team.
            I've since picked up photography as a hobby to capture my travels and share them with friends.
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h3 style="margin-top:0">Recent Projects</h3>
          <ul>
<!--            <li>
              Ein is an open source robot "dog" project using dynamic gaits and real-time video processing to navigate outdoor environments.
              Cad files can be found on GrabCad, code and matlab simulations can be found on Github.
            </li> -->
            <li>
              I was one of the original members of the Texas Guadaloop project, a team competing in the SpaceX Hyperloop Pod Competition.
              I was the technical lead managing the development of the distributed controls system with an emphasis on safety and fault tolerance.
            </li>
          </ul>
        <h3>Other Things</h3>
          <ul>
            <li>
              I have mentored four FIRST Robotics Competition Teams since 2011, averaging 400+ volunteer hours a year.
            </li>
            <li>
              I am helping establish the Central Texas FRC Alliance organization.
              The non-profit is meant to help provide guides and trainings for FRC teams in Texas.
            </li>
          </ul>
      </div>
    </div>
  </div>
</section>
